# Env variables file
.env

# Node modules
/node_modules
/.pnpm-store

# Foundry
/out
/cache
/broadcast/*/31337
# Rely on the timestamped json files instead.
/broadcast/*/*/run-latest.json

# pnpm deploy output
/bundle
